@media (min-width: 900px) {
  .home::before {
    @include glass;
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: -140px;
  }
}

.home {
  position: relative;
  max-width: 50rem;

  & * {
    margin: 0;
  }

  &__content {
    padding: 2rem;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 1rem 0;
    font-size: clamp(2rem, 6vw, 5rem);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent);
  }

  &__subtitle {
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
    font-weight: 500;
  }

  .j-l {
    text-align: left;
  }

  .j-r {
    text-align: right;
  }

  &__btn-container {
    width: 100%;
    display: flex;
  }

  &__next-btn {
    @include next-btn
  }

  &__next-btn:hover,
  &__next-btn:focus {
    transform: scale(1.1);
    opacity: 1;
  }
}

@media (min-width: 900px) and (min-height: 700px) {
  .home__btn-container {
    position: absolute;
    margin: 0;
    bottom: -5.5rem;
    right: 0;
    & .home__next-btn {
      font-size: 1rem;
      margin: 0;
      margin-left: auto;
      @include glass;
      font-weight: 500;
      opacity: 1;
      &:hover,
      &:focus {
        transform: translateX(-5px) scale(1.05);
      }
    }
  }
}