* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(56, 56, 56);
  --accent: hsl(0deg 90% 70%);
}

body {
  margin: 0;
  font-family: 'Bebas Neue', 'helvetica', 'arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tile {
  position: fixed;
  z-index: -1000
}

#root {
  position: relative
}

.glass {
  background: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(2px);
  border: 4px solid rgb(155, 155, 155);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5) ;
}

.navbar__icon {
  transition: 300ms;
}

.navbar__icon:hover {
  color: var(--accent);
  transform: scale(1.1);
}

.home {
  padding: 1rem;
}

.home__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.home__title {
  font-size: clamp(3rem, 6vw, 6rem);
  text-align: center;
}

.font--arial {
  font-family: Arial;
}

.home__subtitle {
  font-family: 'Bebas Neue', 'helvetica', 'arial', sans-serif;
  font-size: clamp(2rem, 3vw, 4rem);
  text-align: center;
  font-weight: 600;
  line-height: 150%;
}

@media (max-width: 400px) {
  .home__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.accent {
  color: var(--accent)
}

p {
  font-family: Lato, Helvetica, sans-serif;
  line-height: 180%;
  font-weight: 700;
  font-size: clamp(16px, 4vw, 22px);
}

.p__justify {
  text-align: justify;
}

.detail-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.icon-big {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav * {
  font-size: 1.5rem;
  text-decoration: none;
}

.about {
  padding: clamp(0.5rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about p {
  font-size: clamp(0.9rem, 1.7vw, 1.3rem);
  margin-bottom: 0.3rem;
}

@media (max-width: 400px) {
  .about p {
    font-family: arial, helvetica, sans-serif;
    line-height: 110%;
    font-weight: 500;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

h3 {
  font-size: 1.5rem;
}

.skills__title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.skills__container {
  border-top: 2px solid var(--accent);
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  gap: 1rem;
}

@media (max-width: 400px) {
  .skills__container {
    gap: 0.5rem;
  }
}

.skills__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__subcontainer * {
  transition: 300ms;
}

.skills__subcontainer:hover * {
  color: var(--accent);
  transform: scale(1.1);
}

.skills__icon {
  font-size: 2rem;
}

@media (max-width: 375px) {
  .skills__icon {
    font-size: 1.5rem
  }
}

.skills__caption {
  font-size: 0.9rem;
  display: none;
}

@media (min-width: 1000px) {
  .skills__container {
    gap: clamp(2rem, 3vw, 4rem)
  }
  .skills__icon {
    font-size: clamp(2rem, 3vw, 4rem)
  }
  .skills__caption {
    display: inline;
  }
}

.portfolio {
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.portfolio p {
  font-size: clamp(1rem, 2vw, 1.3rem);
}

@media (max-width: 400px) {
  .portfolio p {
    font-family: arial, helvetica, sans-serif;
    line-height: 110%;
    font-weight: 500;
  }
}

.portfolio__title {
  display: block;
  height: 10%;
  font-size: 2.5rem;
  text-align: center;
}

.portfolio__nav-btns {
  height: 20%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.portfolio__nav-btns * {
  font-size: clamp(1.5rem, 2vw, 2rem);
  transition: 300ms;
  border: none;
  background: transparent;
}

.portfolio__nav-btns div {
  display: flex;
  gap: 2rem;
}

.portfolio__nav-btns i:hover {
  color: var(--accent);
  transform: scale(1.1);
  cursor: pointer;
}

.portfolio__project {
  height: 70%;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: auto;
}

.project__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project__link {
  transition: 300ms;
  text-align: center;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 700;
  line-height: 180%;
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 0.3rem;
}

.project__link:hover,
.project__link:focus {
  color: var(--accent);
  background-color: rgba(100, 100, 100, 0.2);
}

.project__pic {
  max-height: calc(100% - 5rem);
  width: auto;
  object-fit: contain;
  box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.4);
  transition: 500ms ease-in-out;
  border-radius: 0.3rem;
}

.project__pic:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup img {
  width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.fullscreen {
  display: block;
  z-index: 2;
}

@media (min-width: 1000px) {
  .portfolio__project {
    flex-direction: row;
    justify-content: space-around;
  }
  .project__info {
    gap: 2rem;
    justify-content: space-around;
  }
  .project__link {
    font-size: 1.4rem;
  }
  .project__pic {
    /* flex-basis: auto; */
    /* align-self: center; */
    /* max-width: 60%; */
  }
  .portfolio__project {
    gap: 2rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact__title {
  margin: 3vh 10vw;
}

.contact__item {
  margin-left: 10vw;
  gap: 1vw;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

@media (max-width: 400px) {
  .contact__item {
    margin-left: 3vw;
  }
  .contact__icon {
    margin-right: 0.5rem;
  }
}

.contact__icon {
  margin-right: 1rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.contact__link {
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem)
}

.contact__item * {
  transition: 200ms;
}

.contact__item:hover * {
  color: var(--accent);
  transform: scale(1.05);
}
