* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(56, 56, 56);
  --accent: hsl(0deg 90% 70%);
}

body {
  margin: 0;
  font-family: 'Bebas Neue', 'helvetica', 'arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tile {
  position: fixed;
  z-index: -1000
}

#root {
  position: relative
}

.glass {
  background: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(2px);
  border: 4px solid rgb(155, 155, 155);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5) ;
}

.home__content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem
}

.home__title {
  font-size: clamp(3rem, 6vw, 6rem);
  text-align: center;
}

.font--arial {
  font-family: Arial;
}


.home__subtitle {
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
  font-weight: 600;
}

.accent {
  color: var(--accent)
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav * {
  font-size: 1.5rem;
  text-decoration: none;
}